{% extends "base.jinja2" %}
{% block body %}
{{ super() }}
<section class="text-white text-center">
  <div class="container">
    <div class="row mx-auto mt-5">
      {% if not node %}
        <div class="col-12 alert alert-danger fixed-font">
          Public Key not found: {{ pub_key }}
        </div>
      {% endif %}
    </div>
  </div>
</section>
{% endblock %}
